@model IEnumerable<EduTrack.Models.Enrollment>

@{
    ViewData["Title"] = "ViewStudents_T";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Students</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                Enrollment Date
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>

            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Student.FullName)
            </td>
            
        </tr>
}
    </tbody>
</table>
