@model EduTrack.Models.Assignment

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Assignment Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignmentName)
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignmentText)
        </dd>
        <dt class = "col-sm-2">
            Due Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            File
        </dt>
        <dd class = "col-sm-10">
            x
        </dd>
        <dt class = "col-sm-2">
            Teacher Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FullName)
        </dd>
        <dt class = "col-sm-2">
            Course Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Course.CourseName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AssignmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
